.sign-in-panel {
    width: 300px;
}

.sign-in-panel img {
    height: 80px;
    width: 80px;
}

.sign-in-panel h1 {
    font-family: Book Antiqua;
}

.sign-in-panel [type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 16px;
}

.sign-in-panel [type="password"] {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 16px;
}